body {
    font-family: 'Raleway', sans-serif;
    background: #163D68;
}

h1 {
    font-family: 'Big Shoulders Text', cursive;
    color: #DFE0DA;
}

nav {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 30px;
    letter-spacing: 2.5px;
    color: white;    
}

.container {    
    text-align: center;
    color:white;
    height: 500px;   
}

.footer {
    background: #DFE0DA;
    text-align: justify;
    font-size: 10px;
    padding: 50px;
}

.row {
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    padding: 15px;    
}

a:link {    
    text-decoration: none;
}

button {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 30px;
    background: #DFE0DA;
    color: #163D68;
    border-radius: 10px;
    margin: 5px;   
}

button:focus {
    background: #C59D73;
    border: 5px solid gray;
    outline: none;
}

.popup-content {
    font-family: 'Big Shoulders Text', cursive;
    background: #DFE0DA;
    color: #163D68;
    text-align: justify;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}

.popup-overlay {
    visibility:hidden;
}
    
.popup-content {
    visibility:hidden;
}

.popup-overlay.active{
    visibility:visible;
}
    
.popup-content.active {
    visibility:visible;
}